<body>
<img src="https://i2.wp.com/blog.shanegraphique.com/wp-content/uploads/2016/04/011.jpg?resize=723%2C540" width="160"/>
<h1>{{ 'Booking.Mail.Title'|trans }}</h1>

<h3>{{ 'Booking.Mail.Subtitle'|trans({'%codeCommande%': reservation.token, '%date%': reservation.dateVisit|date('d/m/Y')}) }}</h3>

<p>{{ 'Booking.Mail.Comment1'|trans }}</p>

<b>Détails des billets :</b>
<br />
<br />
<div class="well">
    {% for ticket in tickets %}

        <b>{{ ticket.lastname| upper}}</b>
            {{ ticket.firstName| upper }}
            {{ ticket.birthDate|date('d/m/Y') }}
            {{ ticket.price }}
        <br />
        <hr/>
    {% endfor %}
</div>
<p>{{ 'Booking.Mail.Comment2'|trans ({'%price%': reservation.PricetoPay}) }}</p>
{% if reservation.duration %}
    <p>{{ 'Booking.Mail.Comment3'|trans }}</p>
{% endif %}
<p>{{ 'Booking.Mail.Comment4'|trans }}</p>
</body>