{% block footer %}
    <section id="footer">
        <div class="container-fluiu">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>{{ 'Layout.Base.Footer.Left.Pres'|trans }}</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://getbootstrap.com/">Bootstrap </a></li>
                        <li><a target="_blank" href="https://symfony.com/">Symfony</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Conception</h5>
                    <ul class="list-unstyled quick-links">
                        <p>{{ 'Layout.Base.Footer.Center1'|trans }}</p>
                        <li>{{ 'Layout.Base.Footer.Center2'|trans }}</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Informations</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href=" {{ locale}}/mentions" > {{ 'Layout.Base.Footer.Right'|trans }}</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

