{% block form2 %}
     {{ form_start(form) }}
    {% set num = 1 %}
         {% for ticket in form.tickets %}
             <hr id="line">
                <div class="row">
                    <p class="col-xs-offset-1 col-xs-10 headT">{{ 'TICKET ' ~ num }}</p>
                </div>
             <hr id="line">
            {% set num = num +1 %}
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
                    {{ form_label(ticket.firstName) }}
                    {{ form_widget(ticket.firstName) }}
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-5">
                    {{ form_label(ticket.lastName ) }}
                    {{ form_widget(ticket.lastName) }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
                    {{ form_label(ticket.country) }}
                    {{ form_widget(ticket.country) }}
                </div>
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-5">
                    {{ form_label(ticket.birthDate) }}
                    {{ form_widget(ticket.birthDate) }}
                </div>
            </div>
            <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
                {{ form_widget(ticket.discount) }}
                {{ form_errors(ticket.discount) }}
            </div>
         {% endfor %}
    {{ form_end(form) }}
{% endblock %}

