{% extends "::layout.html.twig" %}
{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}

    {% for message in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endfor %}
    {% block titre %}
       <h1 class="text-center text-uppercase"> {{ 'Booking.Identification.Title'|trans }}</h1>
    {% endblock %}
    {% block recap %}
            <h2> {{ 'Booking.Identification.Recap'|trans }} </h2>

            <h3> {{ 'Booking.Identification.NumberTicketChosen'|trans }} {{ reservation.nbTicket }} </h3>
            <h3> {{  'Booking.Identification.InDateOf'|trans}} {{ reservation.dateVisit|date('d/m/Y')}} </h3>
            <h3> {{ 'Booking.Identification.Email'|trans }} {{ reservation.email }} </h3>
            <h3> {{ 'Booking.Identification.Duration'|trans }} {% if reservation.duration %} {{ 'Booking.Identification.Half'|trans }} {% endif %} </h3>
    {% endblock %}
    {% block formulaire %}
        <ul>
            {% for tickets in form.tickets %}
                <div class="well">
                    {{ form(form) }}
                </div>
            {% else %}
                <li><em>Pas OK</em></li>
            {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}