{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}
<div class="container">
        {% block li %}
            <div class="row bs-wizard" style="border-bottom:0;">
                <div class="col-xs-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum">{{ 'Breadcrumb.Org'|trans }}</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                <div class="col-xs-3 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum">{{ 'Breadcrumb.Id'|trans }}</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum">{{ 'Breadcrumb.Pay'|trans }}</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                    <div class="text-center bs-wizard-stepnum">{{ 'Breadcrumb.Recap'|trans }}</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a class="bs-wizard-dot"></a>
                </div>
            </div>
        {%  endblock %}
        <div class="row">
            {% block recap %}
                <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section_org">
                        <h2> {{ 'Booking.Identification.Recap'|trans }} </h2>
                        <h3> {{ 'Booking.Payment.Token'|trans }} {{ reservation.token }} </h3>
                        <h3> {{ 'Booking.Identification.NumberTicketChosen'|trans }} {{ reservation.nbTicket }} </h3>
                        <h3> {{  'Booking.Identification.InDateOf'|trans}} {{ reservation.dateVisit|date('d/m/Y')}} </h3>
                        <h3> {{ 'Booking.Identification.Email'|trans }} {{ reservation.email }} </h3>
                        <h3> {{ 'Booking.Identification.Duration'|trans }} {% if reservation.duration %} {{ 'Booking.Identification.Half'|trans }} {% else %}
                                {{ 'Booking.Identification.Full'|trans }} {% endif %} </h3>
                    </div>
                </div>
            {%  endblock %}
        </div>
        <div class="row">
            {% block formulaire %}
            <<div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 form2">
                <div class="section_org">
                     {% include 'AppBundle:Booking:form2.html.twig' %}
                </div>
            </div>
            {%  endblock %}
        </div>
</div>
{% endblock %}
