{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}

    <h2> Recapitulatif </h2>
   <p> {{ dump(reservation) }} </p>
    <p> {{ nbTicket }} </p>
    {{ reservation.email }}
    {{ reservation.dateVisit|date('Y-d') }}
{% endblock %}