<!DOCTYPE html>
<html>
    <head>
        <title>{{ 'Booking.Index.Accueil'|trans }} </title>
    </head>
    <body>
            <h1>{{ 'Booking.Index.Language'|trans }} </h1>
            <p> {{ 'Booking.Index.Message.intro'|trans }}</p>
            {{ form(form) }}
            <p> test :</p>
            langue : {{ langue }}
    </body>
</html>

