<<<<<<< HEAD

{# src/AppBundle/Resources/view/Booking/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Booking.Index.Accueil'|trans }} </title>
</head>
<body>
<h1>{{ 'Booking.Index.Language'|trans }} </h1>
<p> {{ 'Booking.Index.Message.intro'|trans }}</p>
</body>
</html>
=======
{% extends "AppBundle::layout.html.twig" %}
{% block title %}
         {{ 'Booking.Index.Accueil'|trans }}
{% endblock %}
{% block booking_body %}
            <h1>{{ 'Booking.Index.Language'|trans }} </h1>
            <p> {{ 'Booking.Index.Message.intro'|trans }}</p>
            {{ form(form) }}
            <p> test :</p>
            langue : {{ langue }}
{% endblock %}

>>>>>>> test
