{% extends "::layout.html.twig" %}

{% block title %}
     {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}

    </br></br>
            <h1>{{ 'Booking.Index.Bienvenue'|trans }} </h1>
    <div class="panel panel-primary">
        <div class ="panel-heading">
            <strong> {{ 'Booking.Index.Message.Intro'|trans }}</strong></br>
        </div>
        <div class=""panel-body">

            <ul> {{ 'Booking.Index.Message.Pratique'|trans }}
                </br>
                <li> {{ 'Booking.Index.Message.1'|trans }}</li></br>
                <li> {{ 'Booking.Index.Message.2'|trans }}</li></br>
                <li> {{ 'Booking.Index.Message.3'|trans }}</li></br>
                <li> {{ 'Booking.Index.Message.4'|trans }}</li></br>
            </ul>
        </div>
    </div>
    </br>

    <p><a href="{{ path('booking_home', {'_locale': 'fr'}) }}"/> fr</a></p>
    <p><a href="{{ path('booking_home', {'_locale': 'en'}) }}"/> en</a></p>
    <p>
        <a class="btn btn-primary btn-lg" href="{{ path('booking_organisation') }}">
         {{'Booking.Index.Message.Bouton'|trans }}
        </a>
    </p>

{% endblock %}
