{% extends "AppBundle::layout.html.twig" %}
{% block title %}
     {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                    <div class="section_1">
                        <h3>  {{ 'Booking.Index.Message.Hebdo'|trans }}</h3>
                        <h3>  {{ 'Booking.Index.Message.Ferie'|trans }}</h3>
                        <h3>  {{ 'Booking.Index.Message.Reservation'|trans }}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="panel panel-primary">
                        <div class ="panel-heading">
                        {{ 'Booking.Index.Message.Pratique'|trans }}
                        </div>
                        <div class="panel-body">
                            <ul>
                            <li> {{ 'Booking.Index.Message.1'|trans }}</li></br>
                            <li> {{ 'Booking.Index.Message.2'|trans }}</li></br>
                            <li> {{ 'Booking.Index.Message.3'|trans }}</li></br>
                            <li> {{ 'Booking.Index.Message.4'|trans }}</li></br>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-7 col-lg-5">
                    <a class="btn btn-primary btn-lg" href="{{ path('booking_organisation') }}">
                    {{'Booking.Index.Message.Bouton'|trans }}
                    </a>
                </div>
            </div>
    </div>
</div>
{% endblock %}
