{% extends "::layout.html.twig" %}
{% block title %}
     {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block booking_body %}
            <h1>{{ 'Booking.Index.Language'|trans }} </h1>
            <p> {{ 'Booking.Index.Message.intro'|trans }}</p>
            {{ form(form) }}
            <p> test :</p>
            langue : {{ langue }}
{% endblock %}

