{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}
    <div class="container">
    <div class="row">
        {% block li %}
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                        <ol class="breadcrumb breadcrumb-arrow">
                            <li><a href="#">Organisation</a></li>
                            <li><a href="#">Identification</a></li>
                            <li><a href="#">Paiement</a></li>
                            <li class="active"><span>Organisation</span></li>
                        </ol>
                    </div>
                </div>
        {%  endblock %}
    <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">

    </div>
        {% for message in app.session.flashbag.get('alert') %}
            <div class="row">
                <div class="alert alert-danger">{{ message }}</div>
            </div>
        {% endfor %}
        {% block formulaire %}
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-md-offset-1">
                <div class="well">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
            </div>
    {% endblock %}
{% endblock %}