{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
    {% block li %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>
        </div>


        <div class="container">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="#">Organisation</a></li>
                <li><a href="#">Identification</a></li>
                <li><a href="#">Paiement</a></li>
                <li class="active"><span>Organisation</span></li>
            </ol>
        </div>
    {%  endblock %}
    {% for message in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% block formulaire %}
        {{ form_start(form) }}
        <div class="row">
            <h1>{{ 'Booking.Organize.Visit'|trans }} </h1>
        </div>
        <h2> {{ 'Booking.Organize.Message.Intro'|trans }}</h2>
        <div class="well">

            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        </div>
    {% endblock %}
{% endblock %}



