{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'Booking.Index.Title'|trans }}
{% endblock %}
{% block body %}
<div class="container">
    {% block li %}
        <div class="row bs-wizard" style="border-bottom:0;">
            <div class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Organisation</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-3 bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum">Identification</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">Paiement</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>
            <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                <div class="text-center bs-wizard-stepnum">Recapitulatif</div>
                <div class="progress"><div class="progress-bar"></div></div>
                <a class="bs-wizard-dot"></a>
            </div>
        </div>
    {%  endblock %}
    {% block recap %}
    <div class="row">
            <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 section_2">
                <h2> {{ 'Booking.Identification.Recap'|trans }} </h2>
                <h4> {{ 'Booking.Payment.Token'|trans }} {{ reservation.token }} </h4>
                <h4> {{ 'Booking.Identification.NumberTicketChosen'|trans }} {{ reservation.nbTicket }} </h4>
                <h4> {{ 'Booking.Identification.InDateOf'|trans}} {{ reservation.dateVisit|date('d/m/Y')}} </h4>
                <h4> {{ 'Booking.Identification.Email'|trans }} {{ reservation.email }} </h4>
            </div>
    </div>
            {% set T = 0 %}
            {% for ticket in tickets %}
    <div class="row">
        <<div class="col-lg-offset-2 col-lg-8 col-lg-offset-2 form2">
            <div class="section_org">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 headT">
                    {% set T = T +1 %}
                     <h3>{{ 'TICKET ' ~ T }}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
                    <h4> {{ 'Booking.Payment.FirstName'|trans }} {{ ticket.firstName}} </h4>
                    <h4> {{ 'Booking.Payment.LastName'|trans }} {{ ticket.lastName}}  </h4>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-5">
                    <h4> {{ 'Booking.Payment.BirthDate'|trans }} {{ ticket.birthDate |date('d/m/Y')}} </h4>
                    <h4> {{ 'Booking.Payment.PricePerTicket'|trans }} {{ ticket.price}} {{ 'euros' }} </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
            {% endfor %}
        <div class="price">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="col-sm-6">
                            <h4><strong> {{'Booking.Payment.PriceToPay'|trans }} {{ reservation.priceToPay}} {{ 'euros' }}</strong></h4>
                        </div>
            {% endblock %}
                        {% block formulaire %}
                            <form method="post" id="payment-form">
                                <div class="col-sm-offset-3 col-sm-3">
                                    <div class="form-row ">
                                        <div id="card-element">
                                            <script
                                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                    data-key="pk_test_sJynCdb1Ux6jCwxVHaSEGE0h"
                                                    data-amount="{{ reservation.priceToPay*100}}"
                                                    data-name="{{ 'Booking.Payment.FormStripe.Title'|trans }}"
                                                    data-email="{{ reservation.email }}"
                                                    data-description="{{'Booking.Payment.FormStripe.Description'|trans }}"
                                                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                                    data-locale="auto"
                                                    data-label="{{ 'Booking.Payment.FormStripe.Button'|trans }}"
                                                    data-currency="eur">
                                            </script>
                                        </div>
                                    </div>
                                    <!-- Used to display form errors. -->
                                    <div id="card-errors" role="alert"></div>
                                </div>
                            </form>
                        {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        // Creation d'une var style qui peut etre transmis aux options lors de leur creation
        var style = {
            base: {
                // Add your base input styles here. For example:
                fontSize: '16px',
                color: "#32325d",
            }
        };

        // Creation d'une instance de l'element "card" avec la var style
        var card = elements.create('card', {style: style});

        // Ajout de l'element "card" dans le "card-element"
        card.mount('#card-element');
        card.addEventListener('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });
        // Creation d'un token ou affiche une erreur lorsque le formulaire est envoye
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            // empecher la soumission du formulaire à mon serveur
            event.preventDefault();

            // contacte l'api de stripe et demande de creer un token
            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Informe qu'il y a une erreur
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Envoi le token
                    stripeTokenHandler(result.token);
                }
            });
        });
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }
    </script>

{% endblock %}
